:root {
  --custom-grey60: rgb(102, 102, 102);
  --custom-grey20: rgb(204, 204, 204);
  --custom-grey10: rgb(230, 230, 230);
  --custom-blue: rgb(0, 114, 188);
  --custom-lightblue: rgb(204, 227, 242);
  --custom-orange: rgb(255, 127, 42); 
  --custom-lightorange: rgb(255, 204, 170); 
}



/*-- Additional custom styles --*/
/* Add any additional CSS rules below                      */

.preface {
  font-size: 11pt;
  background-color: var(--custom-lightblue);
  margin-top: 1em;
  margin-bottom: 0.5em;  
  padding: 1.5em;
  padding-top: 0.5em;
  border-color: DodgerBlue;
}

h1 {
  font-size: 30px !important;  
  color: var(--custom-blue) !important;
  font-family: NanumSquare !important;
  margin-top: 15px !important;
  padding-top: 15px !important;  
  margin-bottom: 15px !important;
  font-weight: bold;
}

h2 {
  font-size: 25px !important;  
  color: var(--custom-blue) !important;  
  font-family: NanumSquare !important;  
  padding-top: 15px !important;  
  margin-top: 15px !important;
  padding-bottom: 10px !important;  
  margin-bottom: 10px !important;    
  font-weight: bold;
}

h3 {
  font-size: 20px !important;  
  color: var(--custom-blue) !important;  
  font-family: NanumSquare !important;  
  margin-top: 10px !important;
  margin-bottom: 10px !important; 
  padding-top: 10px !important;
  padding-bottom: 10px !important;   
  font-weight: bold;
}

.tab-content {
   top: 25px;
   padding: 20px;
}

.bg-blue,
.bg-orange,
.bg-grey {
  padding: 1.6em;
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}
.bg-blue {
  background-color: var(--custom-lightblue);
}
.bg-orange {
  background-color: var(--custom-lightorange);
}
.bg-grey {
  background-color: var(--custom-grey20);
}
.bg-blue > *:last-child,
.bg-orange > *:last-child,
.bg-grey > *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.panelset {
  --panel-tab-foreground: currentColor !important;
  --panel-tab-active-foreground: var(--custom-blue) !important;
  --panel-tab-active-background: var(--custom-lightblue) !important;  
  --panel-tab-hover-foreground: var(--custom-blue) !important;
  --panel-tabs-border-bottom: #ddd !important;
  --panel-tab-inactive-opacity: 0.5 !important;
}


blockquote {
  background: var(--custom-grey10);
  border-left: 10px solid #ccc !important;  
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}


